.navy {
    color: #37376B !important;
}

.primaryfont {
    font-family: 'Archivo Black', sans-serif;
    text-transform: uppercase;
}

.btn-red {
    background-color: #FF2727;
    color: #FFF;
    border: none;
  }
  
  .btn-red:hover,
  .btn-red:focus {
    background-color: #37376B;
    color: #FFF;
    text-decoration: none;
  }

.focusstyle:hover {
    text-decoration: underline;
    text-decoration-color: #FF2727;
    text-decoration-thickness: 3px;
    text-underline-offset: 5px; 
}

#heroCarousel {
    border-radius: 20px;  /* Adjust as needed */
    overflow: hidden;     /* Ensures images respect the radius */
  }